{
    "moduleA": [
        "mymodules.moduleA",
        "moduleA",
        "foo"
    ],
    "moduleB": [
        "mymodules.moduleB",
        "bar",
        null
    ],
    "Cowboy": [
        "mymodules.Cowboy",
        "Cowboy",
        "yeehaw"
    ],
    "Spectrometer":[
        "mymodules.Spectrometer",
	"Operations",
	null
    ],
    "kinesis":[
        "mymodules.kinesis",
	"KCubeDCServo",
	null
    ]
}